<extend name="Public/index" />

<block name='maincontent'>
<!-- this page specific styles -->
<link rel="stylesheet" href="__PUBLIC__/css/compiled/index.css" type="text/css" media="screen" />
	<div id="main-stats">
	    <div class="row-fluid stats-row">
	        <div class="span3 stat">
	            <div class="data">
	                <span class="number">{$name}</span>
	                visits
	            </div>
	            <span class="date">Today</span>
	        </div>
	        <div class="span3 stat">
	            <div class="data">
	                <span class="number">3240</span>
	                users
	            </div>
	            <span class="date">February 2014</span>
	        </div>
	        <div class="span3 stat">
	            <div class="data">
	                <span class="number">322</span>
	                orders
	            </div>
	            <span class="date">This week</span>
	        </div>
	        <div class="span3 stat last">
	            <div class="data">
	                <span class="number">$2,340</span>
	                sales
	            </div>
	            <span class="date">last 30 days</span>
	        </div>
	    </div>
	</div>

	
	Home/Index/index

	<!-- scripts -->
    <script src="__PUBLIC__/js/jquery-latest.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/theme.js"></script>
    
</block>