<extend name="Public/index"/>
<block name='maincontent'>
	<!-- this page specific styles -->
  
        <link rel="stylesheet" href="__PUBLIC__/docs/css/bootstrap-3.3.2.min.css" type="text/css">
        <link rel="stylesheet" href="__PUBLIC__/docs/css/bootstrap-example.css" type="text/css">
        <link rel="stylesheet" href="__PUBLIC__/docs/css/prettify.css" type="text/css">

        <script type="text/javascript" src="__PUBLIC__/docs/js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/docs/js/bootstrap-3.3.2.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/docs/js/prettify.js"></script>

        <link rel="stylesheet" href="__PUBLIC__/dist/css/bootstrap-multiselect.css" type="text/css">
        <script type="text/javascript" src="__PUBLIC__/dist/js/bootstrap-multiselect.js"></script>


    <!-- js -->
    <div id="pad-wrapper" class="form-page">
                <div class="row-fluid form-wrapper">
                    <!-- left column -->
                    <div class="span8 column">
                        <div class="alert alert-info">
                        <i class="icon-lightbulb"></i>
                        请添加权限：）
                        <br><h3>添加员工权限：</h3>
                    </div>
                    <h6 class="personal-title"></h6>
                        <form action="__ACTION__" method="post">
                             <div class="field-box">
                                <label></label>
                                
                            </div> 
                            <div class="field-box">
                                <label><h4>账号:&nbsp;&nbsp;&nbsp;</h4></label>
                               <label><h4>&nbsp;&nbsp;&nbsp;{$rule.username}</h4></label>
                            </div>  
                            <div class="field-box">
                                <label></label>
                                
                            </div>
                            <div class="field-box">
                                <label></label>
                                
                            </div>
                            <div class="field-box">
                                <label><h4>真实姓名:&nbsp;&nbsp;&nbsp;</h4></label>
                                <label><h4>{$rule.truename}</h4></label>
                            </div> 
                            <div class="field-box">
                                <label></label>
                                
                            </div>
                            <div class="field-box">
                                <label></label>
                                
                            </div>
                            <div class="field-box">
                                <label><h4>分配权限:&nbsp;&nbsp;&nbsp;</h4></label>
                                <script type="text/javascript">
                                            $(document).ready(function() {
                                                $('#example-enableCollapsibleOptGroups').multiselect({
                                                    
                                                    // enableFiltering: true,

                                                    enableCollapsibleOptGroups: true,
                                                    includeSelectAllOption: true,
                                                    maxHeight: 320,
                                                    buttonWidth: '320px',
                                                    nonSelectedText: '选择项',
                                                    allSelectedText: '全选',
                                                    numberDisplayed: 4,
                                                    nSelectedText:'项被选择',
                                                    delimiterText:'~' ,
                                                    selectAllText: '选择全部!'
                                                    
                                                   
                                                });
                                            });
                                      </script>
                                        <input type="hidden" name="id" value="{$id}">
                                         <select id="example-enableCollapsibleOptGroups" name="rule[]" multiple="multiple">
                                            <optgroup label="合同管理">
                                                <option value="1" <if condition="in_array('1',$arr)">selected<else /></if>>合同订立</option>
                                                <option value="2" <if condition="in_array('2',$arr)">selected<else /></if>>合同修订</option>
                                                <option value="3" <if condition="in_array('3',$arr)">selected<else /></if>>变更洽商</option>
                                                <option value="5" <if condition="in_array('5',$arr)">selected<else /></if>>合同权限</option>
                                            </optgroup>

                                            <optgroup label="项目管理">
                                                <option value="">合同完成量</option>
                                                <option value="">预算拆解</option>
                                                <option value="">劳务分包</option>
                                                <option value="">材料采购</option>
                                                <option value="">合同收款</option>
                                                <option value="">工程结算单</option>
                                                <option value="">订购单</option>
                                                <option value="">材料付款</option>
                                                <option value="">日报表</option>
                                                <option value="">人工费</option>
                                                <option value="">人工费结算</option>
                                                <option value="">项目借款单</option>
                                                <option value="">项目报销单</option>
                                                <option value="">项目其他费</option>
                                                <option value="">资金计划</option>
                                            </optgroup>
                                            <optgroup label="管理费用">
                                                <option value="">个人借款单</option>
                                                <option value="">个人报销单</option>
                                                <option value="">其他收款</option>
                                                <option value="">其他付款</option>
                                            </optgroup>
                                            <optgroup label="财务管理">
                                                <option value="1">内部转账</option>
                                                <option value="2">外部借款</option>
                                                <option value="3">外部还款</option>
                                                <option value="4">账户余额</option>
                                                <option value="5">应收款</option>
                                                <option value="6">项目应付款</option>
                                                <option value="7">供应商应付款</option>
                                                <option value="8">施工队应付款</option>
                                                <option value="7">借款明细</option>
                                                <option value="8">公司报销明细</option>
                                                <option value="8">资金流量表</option>
                                            </optgroup>
                                            <optgroup label="报表分析">
                                                <option value="">涂布率</option>
                                                <option value="">资金计划</option>
                                                <option value="">工程收入利润表</option>
                                                <option value="">工程项目现金流量表</option>
                                                <option value="">应收账款表</option>
                                                <option value="">工程材料使用一览表</option>
                                                <option value="">工程明细</option>
                                                <option value="">项目报销单明细</option>
                                                <option value="">预算执行对比表</option>
                                            </optgroup>
                                            <optgroup label="基本设置">
                                                <option value="">部门管理</option>
                                                <option value="">职位管理</option>
                                                <option value="">职员管理</option>
                                                <option value="">流程设置</option>
                                                <option value="">甲方设置</option>
                                                <option value="">乙方设置</option>
                                                <option value="">账户设置</option>
                                                <option value="">供应商设置</option>
                                                <option value="">施工队设置</option>
                                            </optgroup>
                                            <optgroup label="权限设置">
                                                <option value="">材料特殊权限</option>
                                                <option value="">账户余额特殊权限</option>
                                                <option value="">涂布率警报权限</option>
                                                <option value="">角色管理</option>
                                                <option value="">权限管理</option>
                                            </optgroup>
                                            <optgroup label="文件传阅">
                                                <option value="">新建传阅</option>
                                                <option value="">收件箱</option>
                                                <option value="">发件箱</option>
                                                <option value="">垃圾箱</option>
                                            </optgroup>
                                            <optgroup label="消息中心">
                                                <option value="">待办文件</option>
                                                <option value="">已办文件</option>
                                                <option value="">通知</option>
                                            </optgroup>
                                            <optgroup label="个人设置">
                                                <option value="">设定默认组织</option>
                                                <option value="">修改密码</option>
                                                <option value="">退出登录</option>
                                            </optgroup>
                                            
                                        </select>
                            </div>
                            <div class="field-box" style="height:200px">
                                <label></label>
                         
                            </div> 
                           
                                                      
                          
                            <div class="field-box">
                              
                                <table>
                                  <tr>
                                    <td width="50px">&nbsp;</td>
                                    <td>
                                      <button type="submit" class="btn-flat default">添加</button>
                                    </td>
                                    <td>
                                      <button type="reset" class="btn-flat danger">重置</button>
                                    </td>
                                    <td width="100px">
                                      &nbsp;
                                    </td>
                                  </tr>
                                </table>
                           
                            </div>
                        </form>
                    </div>

               
                </div>
    </div>
     
     
   
    <script src="__PUBLIC__/js/theme.js"></script>
 
   

</block>