<extend name="Public/index"/>
<block name='maincontent'>
	<!-- this page specific styles -->

    <link href="__PUBLIC__/css/lib/bootstrap-wysihtml5.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/css/lib/uniform.default.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/css/lib/select2.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/css/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/css/compiled/form-showcase.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="__PUBLIC__/css/compiled/ui-elements.css" type="text/css" media="screen" />



    <link rel="stylesheet" type="text/css" href="__PUBLIC__/validation/layer/skin/layer.css" />

    <!-- js -->
    <script type="text/javascript" src="__PUBLIC__/validation/layer/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/validation/layer/layer.js"></script>
    <div id="pad-wrapper" class="form-page">
                <div class="row-fluid form-wrapper">
                    <!-- left column -->
                    <div class="span8 column">
                        <div class="span8 column">
                            <div class="alert alert-info">
                            <i class="icon-lightbulb"></i>
                            请修改施工队信息：）
                            <br><h3>施工队信息资料：</h3>
                        </div>
                         <form action="__ACTION__" method="post">
                            
                            <div class="field-box">
                                <label>施工队名称*</label>
                                <input class="span8 inline-input" type="text" name="cname"  value="{$constract.cname}" required/>
                            </div> 
                            <div class="field-box">
                                <label>开户银行*</label>
                                <input class="span8 inline-input" type="text" name="bank" value="{$constract.bank}" required/>
                            </div> 
                            <div class="field-box">
                                <label>开户账号*</label>
                                <input class="span8 inline-input" type="text" id="account" value="{$constract.account}" name="account" required/>
                            </div>  
                            <div class="field-box">
                                <label>联系信息</label>
                                <table>
                                  <tr>
                                    <td>
                                      <label>联系人*</label>
                                    </td>
                                    <td>
                                      <input class="inline-input" type="text" name="contact" value="{$constract.aname}" required/>
                                    </td>
                                   
                                  </tr>
                                  <tr>
                                    <td>
                                      <label>电话</label>
                                    </td>
                                    <td>
                                      <input class="inline-input" type="text" id="tel" name="tel" value="{$constract.tel}"  placeholder="xxx-xxxxxxxx或者xxxx-xxxxxxx"/>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <label>手机*</label>
                                    </td>
                                    <td>
                                      <input class="inline-input" type="text" id="phone" name="phone" value="{$constract.phone}" required/>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                    <label>Email</label>
                                    </td>
                                    <td>
                                    <input class="inline-input" type="text" id="email" name="email" value="{$constract.email}"/>

                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <label>地址</label>
                                    </td>
                                    <td>
                                     <input class="inline-input" type="text" name="address" value="{$constract.address}"/>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <label>邮编</label>
                                    </td>
                                    <td>
                                      <input class="inline-input" type="text" id="code" name="code" value="{$constract.code}"/>
                                      <input  type="hidden"  name="id" value="{$constract.id}"/>
                                    </td>
                                  </tr>
                                </table>
                            </div>                            
                            <div class="field-box">
                                <label>备注</label>
                                <textarea class="span8" rows="4" name="remark" >{$constract.remark}</textarea>
                            </div>
                            <div class="field-box">
                              <center>
                                <table>
                                  <tr>
                                    <td>
                                      <button type="submit" class="btn-flat default">修改</button>
                                    </td>
                                    <td>
                                      <button type="reset" class="btn-flat danger">重置</button>
                                    </td>
                                    <td width="100px">
                                      &nbsp;
                                    </td>
                                  </tr>
                                </table>
                              </center>
                            </div>
                        </form>
                    </div>

               
                </div>
    </div>
     <script type="text/javascript">

      
    
      //外部插件功能js
      ;!function(){

       var CACCOUNT=false;
       var CTEL=true;
       var CPHONE=false;
       var CEMAIL=true;
       var CCODE=true;
       $("#account").on("blur",function(){
          var reg=/^(\d{16}|\d{19})$/;
          var account = $(this).val();
          
          if(reg.test(account)){
            layer.tips('√', this, {tips: [1, 'rgba(0,100,0,0.7)'],tipsMore: true});

            CACCOUNT=true;
          }else{
            layer.tips('不是正确的银行账号', this, {tips: [1, 'rgba(100,0,0,0.7)'],tipsMore: true}); 
            console.log(111);
            CACCOUNT=false;
            return false;
          }
          
      })
      $("#tel").on("blur",function(){
          var reg=/(\(\d{3,4}\)|\d{3,4}-|\s)?\d{8}/;
          var tel = $(this).val();
          
          if(reg.test(tel)){
            layer.tips('√', this, {tips: [1, 'rgba(0,100,0,0.7)'],tipsMore: true});
            CTEL=true;
          }else{
            if(tel==""){
              CTEL=true;

            }else{
              layer.tips('不是正确的电话格式', this, {tips: [1, 'rgba(100,0,0,0.7)'],tipsMore: true});
              CTEL=false;
            return false;
            }
            
          }
       })
      $("#phone").on("blur",function(){
          var reg=/^1[3458]\d{9}$/;
          var phone = $(this).val();
          
          if(reg.test(phone)){
            layer.tips('√', this, {tips: [1, 'rgba(0,100,0,0.7)'],tipsMore: true});
            
            CPHONE=true;
          }else{
            layer.tips('不是正确的手机格式！', this, {tips: [1, 'rgba(100,0,0,0.7)'],tipsMore: true});
            console.log(333);
            CPHONE=false;
            return false; 
          }
      })
      $("#email").on("blur",function(){
          var reg=/\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
          var email = $(this).val();
          
          if(reg.test(email)){
            layer.tips('√', this, {tips: [1, 'rgba(0,100,0,0.7)'],tipsMore: true});
            CEMAIL=true;
            
          
          }else{
            if(email==""){
              CEMAIL=true;
            }else{
            layer.tips('不是正确的邮箱格式！', this, {tips: [1, 'rgba(100,0,0,0.7)'],tipsMore: true});
            console.log(111);
            CEMAIL=false;
            return false;
            }
          }
      })
      $("#code").on("blur",function(){
          var reg=/[1-9]{1}(\d+){5}/;
          var code = $(this).val();
          
          if(reg.test(code)){
            layer.tips('√', this, {tips: [1, 'rgba(0,100,0,0.7)'],tipsMore: true});
            CCODE=true;
          }else {
            if(code==""){
            CCODE=true;
            }else{
            layer.tips('不是正确的邮政编码！', this, {tips: [1, 'rgba(100,0,0,0.7)'],tipsMore: true}); 
            CCODE=false;
            return false;
            }
          }
      })
      $("form").submit(function(){
            
           $("input").focus();
           $("input").blur(); 
           
          if(CACCOUNT && CPHONE && CTEL && CEMAIL && CCODE){

            return true;
          }
            return false;
       });
    }();
    </script>
     
    <script src="__PUBLIC__/js/wysihtml5-0.3.0.js"></script>
    <script src="__PUBLIC__/js/jquery-latest.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap-wysihtml5-0.0.2.js"></script>
    <script src="__PUBLIC__/js/bootstrap.datepicker.js"></script>
    <script src="__PUBLIC__/js/jquery.uniform.min.js"></script>
    <script src="__PUBLIC__/js/select2.min.js"></script>
    <script src="__PUBLIC__/js/theme.js"></script>
   

</block>